

#bubble {
	position: relative;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: white;
	background: linear-gradient(to left, #7e94bf, #00e1ff);
	box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
	animation: linear rise 8s;
	animation-iteration-count:infinite;
	animation-delay: 0.5s;
	animation-timing-function: ease-in-out;
	z-index: -1;
}

#bubble:before {
	content: "";
	position: absolute;
	display: block;
	top: 5px;
	left: 7px;
	height: 90px;
	width: 90px;
	border-radius: 50%;
	background: #84b9bf;
	opacity: 0.2;
	overflow: hidden;
}

#bubble:after {
	content: "";
	position: absolute;
	display: block;
	top: 25px;
	left: 70px;
	height: 25px;
	width: 9px;
	border-radius: 50%;
	background: white;
	overflow: hidden;
}

#bubble2 {
	position: relative;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: white;
	background: linear-gradient(to left, #7e94bf, #88bfb0);
	box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
	animation: linear rise 6s;
	animation-delay: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	margin: 30px;
	margin-top: 160px;
}

#bubble2:before {
	content: "";
	position: absolute;
	display: block;
	top: 5px;
	left: 7px;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	background: #84b9bf;
	opacity: 0.8;
	overflow: hidden;
}

#bubble2:after {
	content: "";
	position: absolute;
	display: block;
	top: 15px;
	left: 40px;
	height: 10px;
	width: 5px;
	border-radius: 50%;
	background: white;
	overflow: hidden;
}


#bubble3 {
	position: relative;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: white;
	background: linear-gradient(to left, #7e94bf, #88bfb0);
	box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
	animation: linear rise2 5s;
	animation-delay: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	margin: 30px;
	margin-top: 200px;
}

#bubble3:before {
	content: "";
	position: absolute;
	display: block;
	top: 5px;
	left: 7px;
	height: 23px;
	width: 23px;
	border-radius: 50%;
	background: #84b9bf;
	opacity: 0.6;
	overflow: hidden;
}

#bubble3:after {
	content: "";
	position: absolute;
	display: block;
	top: 15px;
	left: 24px;
	height: 8px;
	width: 4px;
	border-radius: 50%;
	background: white;
	overflow: hidden;
}

#bubble4 {
	position: relative;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: white;
	background: linear-gradient(to left, #7e94bf, #88bfb0);
	box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
	animation: linear rise2 20s;
	animation-delay: 0s;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;

}

#bubble4:before {
	content: "";
	position: absolute;
	display: block;
	top: 5px;
	left: 7px;
	height: 23px;
	width: 23px;
	border-radius: 50%;
	background: #84b9bf;
	opacity: 0.1;
	overflow: hidden;
}

#bubble4:after {
	content: "";
	position: absolute;
	display: block;
	top: 15px;
	left: 25px;
	height: 8px;
	width: 4px;
	border-radius: 50%;
	background: white;
	overflow: hidden;
}


@keyframes rise{
	0% {transform: translatey(600px) scale(1);}
	100%{transform: translatey(-690px) scale(1.4) rotate(90deg);}
}

@keyframes rise2{
	0% {transform: translatey(600px) scale(1);}
	100%{transform: translatey(-690px) scale(2) rotate(360deg);}
}


/*try crescent moon shape with gradient of choosing or else*/

/*@keyframes popDiv { 
    0%   {transform: scale(1)  rotate(0deg);}
    25%  {transform: scale(2) rotate(120deg);}
    50%  {transform: scale(.5) rotate(240deg);}
    100% {transform: scale(1) rotate(360deg);}
}*/
